
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 0, 255, 0.1), rgba(255, 0, 255, 0.3), rgba(0, 0, 0, 0.8));
    background: linear-gradient(120deg, rgba(255, 0, 255, 0.5), rgba(0, 255, 255, 0.5));

    margin: 0;
}

.neon-text {
    font-size: 5rem;
    color: #fff;
    text-shadow: 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 30px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 50px #ff00ff, 
        0 0 60px #ff00ff;
    transition: transform 0.2s ease-in-out;


}

.neon-text:hover {
    transform: scale(1.1);
}
 



.game{
text-align: center;
background-color:rgb(88, 152, 212) ;
width:300px;
margin:auto ;
font-family: cursive;
height: 50%;
}

.header{
    background-color:rgb(88, 152, 212) ;
    margin: 50px  0 ;
padding:10px  0 ;
font-size: 30px;

}


span{
    color:rgb(238, 238, 238);

}

 .boxs{
    height: 30%;
    float: left;
     display: grid;
    grid-template-columns: auto auto auto; 
    background-color:rgb(88, 152, 212) ;
margin: 5px  5px;
padding: 30px; } 

.box{
    width: 80px;
    height: 80px;
    background-color:rgb(255, 255, 255) ;
    float: left;
    font-size:50px ;
    margin:2px ;
}

.box:hover{
    background-color:rgb(165, 165, 165) ;
    cursor: pointer;
}